/*General Styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --main-color: #ff364a;
}

.btn {
  background-color: var(--main-color);
  right: 0;
  top: 0;
  height: 50px;
  width: 180px;
  border: none;
  z-index: 1;
  color: #ffffff;
  padding: 0 25px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

/*Navbar*/
.navbar {
  background: #111111;
  border-bottom: 1px solid #111111;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.navbar::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(
    to left bottom,
    #ee0979,
    #fc1c62,
    #ff364a,
    #ff512f,
    #ff6a00
  );
}
.navbar .container-fluid .links-collection div .nav-link {
  cursor: pointer;
  border-radius: 0.5rem;
  transition: ease-in-out 0.25s;
}
.navbar .container-fluid .links-collection div .nav-link:hover {
  background: var(--main-color) !important;
}

/*Header*/
header .container {
  display: flex;
  margin-top: 73px;
}

.enterEmailInput {
  border-radius: 20px;
  display: inline;
  width: 55%;
  height: 50px;
  border: none;
  padding-left: 15px;
  color: #000000;
  background-color: #efefef;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.datosGenerales {
  background-color: #111111;
}

.aboutMe {
  color: #ff9179;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.contactButton {
  background: linear-gradient(
    to left bottom,
    #ee0979,
    #fc1c62,
    #ff364a,
    #ff512f,
    #ff6a00
  );
  right: 0;
  top: 0;
  height: 50px;
  width: 180px;
  border: none;
  z-index: 1;
  color: #ffffff;
  background-color: #ee0979;
  padding: 0 25px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

span {
  font-size: 25px;
  color: #ffffff;
}
h1 {
  padding-top: 275px;
}

.introduction {
  background-color: #000000;
  margin-top: 0;
  padding-top: 0;
  color: #f9f9f9;
}

p {
  color: #ffffff;
}
